<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DAB • Animal Adoption</title>
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
	<section class="prompt">
		<h3>Animal Adoption</h3>
		<h1>Sign up</h1>
		<form method="POST" action="/signup">
			<div>
			  <label>Full Name:</label>
			  <input type="text" name="fullName" required>
			</div>
			<div>
			  <label>Username:</label>
			  <input type="text" name="username" required>
			</div>
			<div>
			  <label>Password:</label>
			  <input type="password" name="password" required>
			</div>
			<button type="submit">Signup</button>
		  </form>
		<hr>
		<p class="help">Already have an account? <a href="/login">Sign in</a></p>
	</section>
	<footer class="info">
		<p>Created by <a href="https://www.noroff.no/en/">Noroff</a></p>
		<p>Part of Back-end Developemnt Program at Noroff</p>
		<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
	</footer>
</body>

</html>